* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.game-status-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000; /* Ujistěte se, že je nad ostatními prvky */
}

.game-status {
    margin-bottom: 5px; /* Vytvoří místo mezi výhrou a prohrou */
}

.container {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: auto auto 1fr auto;
    width: 80%;
    background-color: #34495e;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Styl pro sekci sázky mimo kontejner */
.bet-section {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #16a085;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
}

.dealer-section, .player-section, .money-section, .bank-section {
    padding: 20px;
    background-color: #16a085;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dealer-section {
    grid-column: 1 / 2;
}

.player-section {
    grid-column: 1 / 2;
}

.money-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.bank-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.dealer-cards, .player-cards {
    display: flex;
    justify-content: center;
}

.card {
    width: 120px;      
    height: 180px;     
    border: 1px solid #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5px;
}

.card img {
    width: 100%;       
    height: 100%;      
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}

#money, #bank {
    font-size: 24px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
}

.controls {
    margin-top: 20px;
}

button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.2s;
    width: 140px; /* Nastavte šířku tlačítek */
    height: 50px; /* Nastavte výšku tlačítek */
}

button:hover {
    background-color: #c0392b;
}

/* HP bar sekce */
.hp-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

canvas#hpBar {
    border: 2px solid #000;
    width: 90%;
    height: 30px;
    
}

.down{
    width: 80px; /* Nastavte šířku tlačítek */
    height: 30px; /* Nastavte výšku tlačítek */
    display: flex; /* Flexbox pro centrování textu */
    justify-content: center; /* Horizontální centrování */
    align-items: center; /* Vertikální centrování */
    text-align: center; /* Zarovnání textu na střed */
    white-space: nowrap; /* Zamezení zalamování textu */
}

.top-buttons {
    position: absolute; /* Umožňuje umístit tlačítka kdekoli */
    top: 20px; /* Vzdálenost od vrchu */
    right: 20px; /* Vzdálenost od pravého okraje */
    display: flex; /* Flexbox pro zarovnání tlačítek vedle sebe */
    gap: 10px; /* Vzdálenost mezi tlačítky */
}

.top-buttons button {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex; /* Flexbox pro centrování textu */
    justify-content: center; /* Horizontální centrování */
    align-items: center; /* Vertikální centrování */
    text-align: center; /* Zarovnání textu na střed */
    white-space: nowrap; /* Zamezení zalamování textu */
    width: 30px; /* Nastavte šířku tlačítek */
    height: 30px; /* Nastavte výšku tlačítek */
}

.top-buttons button:hover {
    background-color: #c0392b;
}

#colorPickerBtn:hover {
    background-color: #16a085;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #34495e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 30%;
    color: white;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c0392b;
    cursor: pointer;
}

/* Styl pro modální okno */
#ageWarningModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-age {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

.modal-content-age h2 {
    color: #721c24;
    margin-bottom: 10px;
}

.modal-content-age p {
    color: #343a40;
    margin-bottom: 20px;
}

.modal-content-age button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #ddd;
}
